/* body { font: 12px arial; }
label { display: block; }
input {
	box-sizing: border-box;
  margin: 5px 0 15px 0;
  padding: 5px;
	width: 100%;
  
}
textarea {
  box-sizing: border-box;
  font: 12px arial;
	height: 200px;
	margin: 5px 0 15px 0;
  padding: 5px 2px;
	width: 100%;  
}
.borderojo {
	outline: none;
	border: 1px solid #f00;
}
.bordegris {
    border: 1px solid rgb(105, 102, 102);
} */

.accordionSanto {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}
  
.active, .accordionSanto:hover {
	background-color: #ccc;
}
  
.accordionSanto:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
  
.active:after {
	content: "\2212";
}
  

.panel {
    padding: 0 18px;
    background-color: white;
    display:none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.check { 
	display: inline;
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	
	}



.card-imagen {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 600;
	height: 333;
	vertical-align: middle;
	border-style: none;
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px);
}

.trans{
	background-color: rgb(2, 2, 19);
	display: inline-block;
	width:100%;
	text-align: left;
	height: 100px;
  } 

.panelBotom {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: white;
    /* border-bottom: 1px solid rgba(0,0,0,.125); */
}

.labelCheckbox {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
 
.inputCheckbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.botones{
	color: white;
	padding: 15px;
    margin:15px;
}


	
